<section>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-3 p-3">
                <div class="card" style="width: 248px;">
                    <img class="card-img-top" src="/product-images/{{products}}.png" alt="Product Image">
                    <div class="card-body">
                        <h6 class="card-text">Product id:- <br>{{products}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
